<div class="container" style="margin-top:70px">
    <form [formGroup]="cadFilme" class=" row g-3">
        <h3>Cadastro de Filmes</h3>
        <div class="col-md-4">
            <label for="data_lancamento" class="form-label">Data de Lançamento</label>
            <input type="date" class="form-control" formControlName="data_lancamento" aria-label="Data de lançamento">
        </div>
        <div class="col-md-4">
            <label for="duracao_filme" class="form-label">Duração do filme</label>
            <input type="time" class="form-control" formControlName="duracao_filme" aria-label="Duraçao filme">
        </div>
        <div class="col-md-4">
            <label for="imagem_filme" class="form-label">Imagem</label>
            <input type="text" class="form-control" formControlName="imagem_filme" aria-label="Imagem">
        </div>

        <div class="col-12">
            <label for="sinopse_filme" class="form-label">Sinpse do Filme</label>
            <input type="text" class="form-control" formControlName="sinopse_filme" aria-label="Sinpse do Filme">
        </div>
        <div class="col-12">
            <label for="titulo_filme" class="form-label">Titulo do Filme</label>
            <input type="text" class="form-control" formControlName="titulo_filme" aria-label="Titulo do Filme">
        </div>

        <div class="col-md-6">
            <label for="categoria" class="form-label">Categoria</label>
            <select id="inputState" class="form-select" formControlName="categoria">

      <option *ngFor="let cat of categorias" value="{{cat.id}}"  [attr.aria-label]="cat.nome_categoria">{{cat.nome_categoria}}</option>
    </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary" (click)="createFilme()"> Enviar</button>
        </div>
    </form>
    <br>

    <table class="table">
        <thead>
            <tr>

                <th tabindex="0" area-label="Titulo" scope="col">Titulo</th>
                <th tabindex="0" area-label="Sinpse" scope="col">Sinpse</th>
                <th tabindex="0" area-label="Imagem" scope="col">Imagem</th>
                <th tabindex="0" area-label="data de lançamento" scope="col">Data de Lançamento</th>
                <th tabindex="0" area-label="Duração" scope="col">Duração</th>
                <th tabindex="0" area-label="Categoriass" scope="col">Categoria</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of ListcadFilme,index as i">
                <td tabindex="0" [attr.aria-label]="list.titulo_filme">{{list.titulo_filme}}</td>
                <td tabindex="0" [attr.aria-label]="list.sinopse_filme">{{list.sinopse_filme}}</td>
                <td tabindex="0" [attr.aria-label]="list.imagem_filme"> {{list.imagem_filme}}</td>
                <td tabindex="0" [attr.aria-label]="list.data_lancamento">{{list.data_lancamento}}</td>
                <td tabindex="0" [attr.aria-label]="list.duracao_filme">{{list.duracao_filme}}</td>
                <td tabindex="0" [attr.aria-label]="list.categoria.nome_categoria">{{list.categoria.nome_categoria}}</td>


                <td>
                    <button area-label="Editar" type="submit" class="btn btn-success" (click)="edittFilme(list,i)">Editar</button>
                    <button area-label="Deletar" type="submit" class="btn btn-warning" (click)="dellFilme(list.id)"> Deletar</button>
                </td>

            </tr>

        </tbody>
    </table>

</div>
